<md-toolbar color="primary">
    <span>Student Activity Monitor</span>
    <button md-button>LOGOUT</button>
</md-toolbar>
<section>
    <md-card *ngFor="let group of groups">
        <md-card-header>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mOc/R8AAjsBnOiGSSgAAAAASUVORK5CYII="
                 md-card-avatar>
            <md-card-title-group>
                <span md-card-title>{{group.name}}</span>
                <span md-card-subtitle>{{group.members.join(", ")}}</span>
            </md-card-title-group>
        </md-card-header>
        <md-card-content>
            <div class="activity-title">
                <h3>Activiteit</h3>
                <div class="change">
                    <h3>+{{group.increase}}%</h3>
                    <h5>t.o.v. de vorige 7 dagen</h5>
                </div>
            </div>
            <p-chart type="line" [data]="group.chartData" [options]="chartOptions"></p-chart>
            <h3>Feedback</h3>
            <md-nav-list>
                <md-list-item>
                    <md-icon md-list-icon>mood</md-icon>
                    <h3 md-line>Positieve feedback op Thomas</h3>
                    <p md-line>16/5/17</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>mood_bad</md-icon>
                    <h3 md-line>Negatieve feedback op Thijs</h3>
                    <p md-line>16/5/17</p>
                </md-list-item>
                <md-list-item>
                    <md-icon md-list-icon>mood</md-icon>
                    <h3 md-line>Positieve feedback op Casper</h3>
                    <p md-line>16/5/17</p>
                </md-list-item>
            </md-nav-list>
            <button md-raised-button>DETAILS</button>
        </md-card-content>
    </md-card>
</section>