md-toolbar button {
    margin-left: auto;
}

section {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

md-card {
    margin: 8px;
    width: calc(25% - 64px);
}

.activity-title {
    overflow: hidden;
}

md-card .activity-title h3 {
    float: left;
}

md-card .activity-title .change {
    float: right;
}

md-card .activity-title .change h3 {
    float: right;
    margin-bottom: 4px;
}
md-card .activity-title .change h5 {
    clear: both;
}

md-card button {
    margin-top: 20px;
}

@media screen and (max-width: 1500px) {
    md-card {
        width: calc(33.333% - 64px);
    }
}

@media screen and (max-width: 1100px) {
    md-card {
        width: calc(50% - 64px);
    }
}

@media screen and (max-width: 700px) {
    md-card {
        width: calc(100% - 64px);
    }
}