md-toolbar div {
    width: 820px;
    margin: 0 auto;
}

md-toolbar button {
    margin-left: auto;
}

md-toolbar md-icon {
    display: block;
    float: left;
    line-height: 34px;
    margin-right: 8px;
}

section {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

md-card {
    margin: 10px;
    width: calc(25% - 68px);
}

md-card button {
    margin-top: 20px;
}

.members {
    width: 220px;
    float: right;
}

@media screen and (max-width: 1600px) {
    md-card {
        width: calc(33.333% - 68px);
    }
}

@media screen and (max-width: 1220px) {
    md-card {
        width: calc(50% - 68px);
    }
}

@media screen and (max-width: 800px) {
    md-card {
        width: calc(100% - 68px);
    }
}