md-toolbar div {
    width: 820px;
    margin: 0 auto;
}
md-toolbar div button {
    float: right;
}

md-toolbar md-icon {
    display: block;
    float: left;
    line-height: 34px;
    margin-right: 8px;
}

md-toolbar .accountButton {
    float: right;
}

section {
    width: 876px;
    margin: 0 auto;
}

md-card {
    width: 350px;
    margin: 20px;
    float: left;
}
md-card button {
    margin-top: 20px;
}

.members {
    width: 220px;
    float: right;
}