<md-toolbar color="primary">
    <div>
        <span>Student Activity Monitor Dashboard</span>
        <span class="accountButton"><md-icon>account_circle</md-icon> Thomas Gladdines</span>
    </div>
</md-toolbar>
<section>
    <md-card *ngFor="let group of groups">
        <md-card-header>
            <md-card-title-group>
                <span md-card-title>{{group.name}}</span>
                <span md-card-subtitle>{{group.members.join(", ")}}</span>
            </md-card-title-group>
        </md-card-header>
        <md-card-content>
            <h3>Activiteit</h3>
            <div class="chart">
                <p-chart type="line" [data]="group.chartData" [options]="chartOptions"></p-chart>
            </div>
            <h3>Feedback</h3>
            <md-list>
                <md-list-item>
                    <md-icon>mood</md-icon> <span>Positieve feedback op Thomas</span>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <md-icon>mood_bad</md-icon> <span>Negatieve feedback op Thijs</span>
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    <md-icon>mood</md-icon> <span>Positieve feedback op Casper</span>
                </md-list-item>
            </md-list>
            <button md-button>Meer informatie</button>
        </md-card-content>
    </md-card>
</section>